* { /* universal selector */
    box-sizing: border-box;
    padding: 0;
    Margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

:root {
    --light:  lightblue;
    --background: lightgray;
}

h1 {text-align: center; /* Elemental selector */
font-size: 5rem;
background-color: var(--background);
}

body { /* Elemental selector */
    background-color: lightseagreen;
}

h2 { /* Elemental selector */
font-size: 4rem;
}

img { /* Elemental selector */
    margin: 40px 80px 30px 60px;
    border: solid;
    border-radius: 10px;
    display:flex;
    justify-items: flex-end;
    float: left;
    position:relative;
    transform: rotate(15deg);
}


nav { /* Elemental selector */
padding: 20px;
margin: 15px 15px 250px 15px;
font-family: 'Times New Roman', Times, serif;
position: relative;
}

section {/* Elemental selector */
    padding: 5px;
    margin: 20px;
}

p { /* Elemental selector */
    text-indent: 30px;
}

.profile {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.profile img {
    transition: all 0.3s;
}

.profile:hover img {
    transform: scale(1) rotate(5deg);
}

.a:hover { /* class  selector */
    color: greenyellow;
}

.a:active { /* class  selector */
    font-size: 180%;
    box-shadow: 0 0 10px black inset;
}

.a:focus { /* class  selector */
    outline: none;
    border-color: #030b14;
}

.li1 { /* class  selector */
    display: inline-block;
    border: solid;
    padding: 10px;
    background-color: var(--light);
    border-radius: 10px;
    box-shadow: 10px 10px;
    font-size: 2rem;
}

.li2 { /* class  selector */
    display: inline-block;
    border: solid;
    padding: 10px;
    background-color: var(--light);
    border-radius: 10px;
    justify-items: flex-start;
    margin: 10px;
}

.About { /* class  selector */
    margin: 50px;
    font-size: 1rem;
    
}

.a { /* class  selector */
    transform: rotate(0deg);
    margin-bottom: 100px;

}


.Contact { /* class  selector */
    display: inline-block;
    border: solid;
    border-radius: 10px;
    font-size: 3rem;
    display: flex;
    flex-wrap: wrap;
}


.form {/* class  selector */
    font-size: 2.5rem;
    font-weight: 600;
    display: block;
}

.work {
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding:0;
}



@media screen and (max-width: 700px) {
    section {
        columns: 3;
    }    

    body {
        background-color: yellowgreen;
    }
}

@media screen and (max-width: 600px) {
    section {
        columns: 2;
    }
    body {
        background-color: orange;
}



