* { /* universal selector */
    box-sizing: border-box;
    padding: 0;
    Margin: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
}

:root {
    --light:  lightblue;
    --background: lightgray;
}

h1 {text-align: center; /* Elemental selector */
font-size: 5rem;
background-color: var(--background);
}

body { /* Elemental selector */
    background-color: rgb(222, 235, 234);
}

h2 { /* Elemental selector */
font-size: 4rem;
text-align: center;
margin-top: 150px;
margin-bottom: 75px;
text-decoration: underline;
}

h3 { /* Elemental selector */
    font-size: 1.5rem;
    margin-bottom: 50px;
}

h4 {/* Elemental selector */
    font-size: 4rem;
    text-align: center;
    margin-top: 100px;
}

img { /* Elemental selector */
    margin: 40px 80px 30px 60px;
    border: solid;
    border-radius: 10px;
    display:flex;
    justify-items: flex-end;
    float: left;
    position:relative;
    transform: rotate(15deg);
}

nav { /* Elemental selector */
padding: 20px;
font-family: 'Times New Roman', Times, serif;
display:flex;
flex-wrap: wrap;
}

nav li { /* Elemental selector */
    align-items: flex-end;
}

p { /* Elemental selector */
    text-indent: 30px;
    font-size: 1.5rem;
    margin-left: 25px;
    margin-right: 25px;
}

footer { /* Elemental selector */
    display:flex;
    flex-wrap: wrap;
}

footer ul { /* Elemental selector */
    display: none;
    margin: auto;
}

footer:hover ul { /* Elemental selector */
    Display: inline;
}

footer ul li { /* Elemental selector */
    display: inline;
}

.footer {/* class  selector */
    font-size: 1.5rem;
    display: inline;
    margin-bottom: 25px;
    padding: 25px;
}

.profile {/* class  selector */
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.profile img {/* class  selector */
    transition: all 0.3s;
}

.profile:hover img {/* class  selector */
    transform: scale(1) rotate(5deg);
}

.a:hover { /* class  selector */
    color: greenyellow;
}

.a:active { /* class  selector */
    font-size: 180%;
    box-shadow: 0 0 10px black inset;
}

.a:focus { /* class  selector */
    outline: none;
    border-color: #030b14;
}

.li1 { /* class  selector */
    display: inline;
    border: solid;
    padding: 10px;
    background-color: var(--light);
    border-radius: 10px;
    box-shadow: 10px 10px;
    font-size: 2rem;
   margin-left: 50px;
}

.About { /* class  selector */
    font-size: 2.5rem;
    margin-top: 100px;
    margin-bottom: 150px;
}

.a { /* class  selector */
    transform: rotate(0deg);
}

.Contact { /* class  selector */
    font-size: 3rem;
}

.form {/* class  selector */
    font-size: 2.5rem;
    font-weight: 600;
}

.work {
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding:0;
}

#prework-study-guide {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding:0;
}

#HW-Module-1 {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding:0;
}

#placeholder {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    margin:0;
    padding:0;
}

@media screen and (max-width: 972px) {
    section {
        columns: 3;
    }    

    body {
        background-color: lightseagreen;
    }
}

@media screen and (max-width: 600px) {
    section {
        columns: 2;
    }
    body {
        background-color: lightgreen;
}
}


